
.tree-view .tree-cell {
    -fx-background-color: #181818;
    -fx-text-fill: #B3B3B3;
}

.tree-view{
    -fx-background-color: #181818;
    -fx-border-width: 0;
    -fx-background-insets: 1;
    -fx-padding: 10px 10px 10px 0 ;
}

.tab-pane{
    -fx-padding: -1 -1 -1 -1;
    -fx-background-color: #212121;
    -fx-border-color: #3D3C3D;
}

.tab-label{
    -fx-text-fill: #B3B3B3;
    -fx-cursor: hand;
}

.tab-header-background {
    -fx-background-color: #212121;
    -fx-border-color: #3D3C3D;
}

.choice-box{
    -fx-background-color: #212121;
    -fx-border-color: #3D3C3D;
    -fx-border-width: 1;
    -fx-text-fill: #B3B3B3;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .thumb,
    .scroll-bar:vertical.thumb{
    -fx-background-color: #B3B3B3;
}

.text-field{
    -fx-background-color: #212121;
    -fx-border-color: #3D3C3D;
    -fx-border-width: 1;
    -fx-text-fill: #B3B3B3;
}

.tab{
    -fx-background-color:  #212121;
    -fx-pref-height: 30;
    -fx-border-width: 1;
    -fx-border-color: #3D3C3D;
    -fx-start-margin: none;
}
.tab-header-background {
    -fx-background-color:#212121;
    -fx-border-width: 1;
}

.menu-item{
    -fx-background-color: black;
    -fx-text-fill: #B3B3B3;
    -fx-cursor: hand;
}

.context-menu{
    -fx-effect: null;
    -fx-background-color: black;
    -fx-background-insets: 0.5;
    -fx-border-color: #3D3C3D;
    -fx-border-width: 1.5;
}

.label{
    -fx-text-fill: #B3B3B3;
}

.button{
    -fx-text-fill: #B3B3B3;
    -fx-background-color: #212121;
    -fx-border-color: #3D3C3D;
    -fx-cursor: hand;
}